@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fjalla+One&display=swap");
.countButton .button {
  border-style: none;
  width: 10vh;
  height: 4vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.countButton .image {
  background-size: cover;
  border-color: #181818;
  background-color: #181818;
  color: white;
  width: 40vh;
  height: 40vh;
  font-size: larger;
  margin: 10px;
}

.countButton .primary {
  width: 4vh;
  background: linear-gradient(178.56deg, rgba(188, 194, 204, 0.4) -10.37%, #1A1F41 248.53%);
  color: white;
  font-display: bold;
  border-radius: 50%;
  font-size: large;
}

.countButton .primary:active {
  transition-duration: 0.1s;
  background-color: #9b9a9a;
}

.countButton .explode {
  margin: 0;
  background-color: #181818;
  color: grey;
}

.countButton .absolute {
  position: absolute;
  margin-left: 880px;
}

.countButton .back {
  margin-top: 83vh;
  margin-left: 40vh;
  background-color: #aea9a9;
  border-style: none;
  height: 4vh;
  width: 9vh;
  border-radius: 5px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.countButton .back:active {
  transition-duration: 0.1s;
  background-color: #9b9a9a;
}
