.expandidoFiltro {
  transition: 2s;
  position: absolute;
  right: 0px;
  top: 300px;
  height: 160px;
  width: 60px;
  background: transparent;
  border-radius: 5px;
  border-style: dashed;
}

.expandidoFiltro .contentSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expandidoFiltro .contentSwitch .switch {
  color: white;
  font-weight: bolder;
  border-radius: 100px 0px 0px 100px;
  margin-bottom: 20px;
  border-style: none;
  height: 30px;
  width: 108px;
}

.expandidoFiltro .contentSwitch .reset {
  background: linear-gradient(178.56deg, rgba(0, 0, 0, 0.9) -2.37%, #b0b6da 238.53%);
  border: 1px white solid;
  width: 90px;
  border-radius: 100px;
  margin-right: 12px;
}

.expandidoFiltro .contentSwitch .reset:hover {
  background: linear-gradient(178.56deg, rgba(93, 84, 119, 0.9) -10.37%, #717fdb 248.53%);
}

.expandidoFiltro .contentSwitch .verdefluor {
  background: linear-gradient(178.56deg, rgba(128, 94, 223, 0.9) -10.37%, #3d4fbe 248.53%);
}

.expandidoFiltro .contentSwitch .verdefluor:hover {
  background: linear-gradient(178.56deg, rgba(89, 57, 177, 0.9) -10.37%, #121a52 248.53%);
}

.expandidoFiltro .contentSwitch .verde {
  background: #5EC097;
  color: black;
}

.expandidoFiltro .contentSwitch .verde:hover {
  background: #499475;
}

.expandidoFiltro .contentSwitch .rojo {
  background: #D04158;
}

.expandidoFiltro .contentSwitch .rojo:hover {
  background: #d65c70;
}

.expandidoFiltro .contentSwitch .amarillo {
  background: #b6b35c;
}

.expandidoFiltro .contentSwitch .amarillo:hover {
  background: #706e39;
}

.expandidoFiltro .contentSwitch .turquesa {
  background: #76c7ca;
  color: black;
}

.expandidoFiltro .contentSwitch .turquesa:hover {
  background: #568f91;
}

.expandidoFiltro .contentSwitch .violeta {
  background-color: violet;
}

.expandidoFiltro .contentSwitch .violeta:hover {
  background-color: #af56af;
}

.expandidoFiltro .contentSwitch .celeste {
  background: #3793CB;
}

.expandidoFiltro .contentSwitch .celeste:hover {
  background: #2a6f9b;
}

.expandidoFiltro .contentSwitch .azul {
  background: #1B3AE2;
}

.expandidoFiltro .contentSwitch .azul:hover {
  background: #4d64e4;
}

.expandidoFiltro .contentSwitch .naranja {
  background: #D07C52;
}

.expandidoFiltro .contentSwitch .naranja:hover {
  background: #a76443;
}

.expandidoFiltro .contentSwitch .switch:active {
  background: linear-gradient(178.56deg, rgba(219, 215, 230, 0.9) -10.37%, #0320fc 248.53%);
}

.expandidoFiltro .contentSwitch .gris {
  background: grey;
}

.space {
  margin-left: 30px;
  margin-top: 20px;
  background-color: #aea9a9;
  height: 20px;
  width: 350px;
}

.ocult {
  display: none;
}
