@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fjalla+One&display=swap");
.countSwich {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 0;
}

.countSwich .swich {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #aea9a9;
  font-size: large;
  height: 4.5vh;
  width: 14vh;
  border-radius: 5px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #181818;
}

.countSwich .swich:active {
  transition-duration: 0;
  background-color: #9b9a9a;
}

.imageSwich {
  margin: 5px;
  height: 20px;
  width: 20px;
}
